.sidebar{
   margin:5px;
   width:110px;
   min-height: 800px;
   background-color: rgb(237, 237, 237);
   display: flex;
   flex-direction: column;
   box-shadow: 5px 5px 10px rgba(121, 121, 121, 0.3);
   .icons{
    display: flex;
    margin-top:20px;
    padding: 10px;
    margin-left:20px;
    border-radius: 50px;
    flex-direction: column;
    padding :10px;
   
   }
   .icons :hover{
    
   box-shadow: 5px 5px 10px rgba(98, 98, 98, 0.2);
   }

   img{
      margin:12px;
      padding: 0;
      border-radius: 60px;
      height:80px;
      width: 75%;
   }

   #profile{
      margin-top: 120px;
   }
  
}