.videoo {
  margin: 15px;
  .video {
    margin-top: 10px;
    margin-left: 40px;

    .image1 {
      background-image: url("../studeny.jpg");
      width: 200px;
      height: 180px;
      border-radius: 30px;
      margin-bottom: 50px;
      #text1 {
        background-color: rgb(246, 246, 246);
        border-radius: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        padding: 2px;
        width: 60%;
      }
    }

  
    .image {
      background-image: url("../teacher.jpg");
      width: 200px;
      height: 180px;
      border-radius: 30px;
      #text {
        background-color: rgb(246, 246, 246);
        border-radius: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
        width: 60%;
        padding: 2px;
      }
    }

   

  }

  .icons {
    display: grid;
    width: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    .icon-each {
      padding: 5px;
      box-shadow: 5px 5px 10px rgba(89, 89, 89, 0.1);
      background-color: rgb(233, 233, 233);
      border-radius: 20px;
      height: 50px;
      width: 50px;
      h6 {
        margin: 1px;
        font-weight: 500;
      }
    }
    .icon-each:hover {
      background-color: rgb(32, 241, 164);
    }
  }
}
